<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
  </script>
  <script>
  $(document).ready(function () {
        $('ul.nav > li').click(function (e) {
            $('ul.nav > li').removeClass('active');
            $(this).addClass('active');                
        });            
    });
  </script>
</head>
<body>
  <div class = "container" id="backdrop"> 
      <%= render 'layouts/header' %>
      <div class="row">     
        <div class="span12 text-box center" id="main-text"> 
                
  <div class="row-fluid">  
    <div class ="span2 offset4" id="fremont">
      <span id="location-name">Fremont</span><br>
      <span id="address">4225 Fremont Ave N<br>
      Seattle, WA 98103</span><br>
      <span id="phone">(206) 545-7440</span><br><span id="hours">Tu-Fri: 11-9 &amp; Sat: 11-8</span> 
    </div>
    <div class ="span2" id="ballard">
      <span id="location-name">Ballard</span><br>
      <span id="address">6226 Seaview Ave NW<br>
      Seattle, WA 98107</span><br>
      <span id="phone">(206) 545-7440</span><br>
      <span id="hours">Tu-Sat: 11-9</span> 
      </div>
      
  </div>
          <%= yield %>
          <div class="container">
          <%= render 'layouts/connect' %>
          </div>
        </div>  
      </div>    
     </div> 
    <%= render 'layouts/footer' %>
</body>
</html>